includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: 8
  treatPhpDocTypesAsCertain: false
  paths:
    - src
  ignoreErrors:
    -
      message: '/Property [a-zA-Z\\]+::\$[a-zA-Z]+ is never read, only written\./'
      paths:
          - %currentWorkingDirectory%/src/Command/*

rules:
  - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
  - Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
  - Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
  - Ergebnis\PHPStan\Rules\Methods\PrivateInFinalClassRule
